In [1]:
# for the api key
import os
from dotenv import load_dotenv
load_dotenv()
api_key = os.getenv('WEATHER_API')

In [32]:
# for call api url
import json
import requests
import pprint # https://docs.python.org/3/library/pprint.html
import pandas as pd
import datetime

## Calling data from Weather API

In [4]:
# Setting the list of locations

locations = ['Berlin','Reykjavik','Biarritz','Auckland','Vancouver']

In [8]:
 for city in locations:
     for day in pd.date_range(start='09/10/2023', end='09/13/2023'):
         requested_day = day.date()
         print(locations, requested_day) # check the values passed to the variables

['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-10
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-11
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-12
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-13
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-10
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-11
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-12
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-13
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-10
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-11
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-12
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-13
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-10
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-11
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-12
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-13
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-10
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-11
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-12
['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-13

In [9]:
print(locations, requested_day) # check the values passed to the variables

['Berlin', 'Reykjavik', 'Biarritz', 'Auckland', 'Vancouver'] 2023-09-13

In [10]:
city

'Vancouver'

In [5]:
# For loop for the small dictionnary for 6 days

weather_dict_s = {'extracted_at':[], 'extracted_data':[]}

for city in locations:
     for day in pd.date_range(start='04/05/2024', end='04/10/2024'):
         requested_day = day.date()
         api_url = f'http://api.weatherapi.com/v1/history.json?key={api_key}&q={city}&dt={requested_day}'
         response = requests.request("GET", api_url)
         weather_dict_s['extracted_at'].append(datetime.datetime.now())
         weather_dict_s['extracted_data'].append(json.loads(response.text))
         if response.status_code == 200:
             print(f'attempt for {day.date()} in {city} resulted in {response.status_code}', end='\r')
         else:
             print(f'for date: {day.date()} and city: {city} status code {response.status_code} -> research error')

             
# print(location, requested_day) # check the values passed to the variables

In [46]:
# saving a small json 
with open('./data/weather_dict_s.json', mode='w') as outfile:
    json.dump(weather_dict_s, outfile, indent=4, sort_keys=True, default=str)

In [27]:
#for loop for the whole year

weather_dict = {'extracted_at':[], 'extracted_data':[]}

for city in locations:
     for day in pd.date_range(start='04/11/2023', end='04/10/2024'):
         requested_day = day.date()
         api_url = f'http://api.weatherapi.com/v1/history.json?key={api_key}&q={city}&dt={requested_day}'
         response = requests.request("GET", api_url)
         weather_dict['extracted_at'].append(datetime.datetime.now())
         weather_dict['extracted_data'].append(json.loads(response.text))
         if response.status_code == 200:
             print(f'attempt for {day.date()} in {city} resulted in {response.status_code}', end='\r')
         else:
             print(f'for date: {day.date()} and city: {locations} status code {response.status_code} -> research error')

             
# print(location, requested_day) # check the values passed to the variables

In [37]:
#result = response.text
#result
#result = response.json()     #for it to make it as text form.

In [45]:
# saving as json 
with open('./data/weather_dict.json', mode='w') as outfile:
    json.dump(weather_dict, outfile, indent=4, sort_keys=True, default=str)

## Loading the Dataframe into SQL table

In [42]:
# 5 days dictionnary to dataframe

weather_dict_s = pd.DataFrame(weather_dict_s)
weather_dict_s

,extracted_at,extracted_data
0,2024-04-11 11:17:30.883713,"{'location': {'name': 'Berlin', 'region': 'Ber..."
1,2024-04-11 11:17:30.998822,"{'location': {'name': 'Berlin', 'region': 'Ber..."
2,2024-04-11 11:17:31.129121,"{'location': {'name': 'Berlin', 'region': 'Ber..."
3,2024-04-11 11:17:31.251737,"{'location': {'name': 'Berlin', 'region': 'Ber..."
4,2024-04-11 11:17:31.369723,"{'location': {'name': 'Berlin', 'region': 'Ber..."
5,2024-04-11 11:17:31.475044,"{'location': {'name': 'Berlin', 'region': 'Ber..."
6,2024-04-11 11:17:31.554822,"{'location': {'name': 'Reykjavik', 'region': '..."
7,2024-04-11 11:17:31.663854,"{'location': {'name': 'Reykjavik', 'region': '..."
8,2024-04-11 11:17:31.761983,"{'location': {'name': 'Reykjavik', 'region': '..."
9,2024-04-11 11:17:31.858421,"{'location': {'name': 'Reykjavik', 'region': '..."
10,2024-04-11 11:17:31.949056,"{'location': {'name': 'Reykjavik', 'region': '..."
11,2024-04-11 11:17:32.047435,"{'location': {'name': 'Reykjavik', 'region': '..."
12,2024-04-11 11:17:32.158605,"{'location': {'name': 'Biarritz', 'region': 'A..."
13,2024-04-11 11:17:32.253103,"{'location': {'name': 'Biarritz', 'region': 'A..."
14,2024-04-11 11:17:32.356419,"{'location': {'name': 'Biarritz', 'region': 'A..."
15,2024-04-11 11:17:32.441813,"{'location': {'name': 'Biarritz', 'region': 'A..."
16,2024-04-11 11:17:32.551731,"{'location': {'name': 'Biarritz', 'region': 'A..."
17,2024-04-11 11:17:32.643204,"{'location': {'name': 'Biarritz', 'region': 'A..."
18,2024-04-11 11:17:32.733991,"{'location': {'name': 'Auckland', 'region': ''..."
19,2024-04-11 11:17:32.836612,"{'location': {'name': 'Auckland', 'region': ''..."
20,2024-04-11 11:17:32.937626,"{'location': {'name': 'Auckland', 'region': ''..."
21,2024-04-11 11:17:33.052538,"{'location': {'name': 'Auckland', 'region': ''..."
22,2024-04-11 11:17:33.150636,"{'location': {'name': 'Auckland', 'region': ''..."
23,2024-04-11 11:17:33.223538,"{'location': {'name': 'Auckland', 'region': ''..."
24,2024-04-11 11:17:33.350089,"{'location': {'name': 'Vancouver', 'region': '..."
25,2024-04-11 11:17:33.439368,"{'location': {'name': 'Vancouver', 'region': '..."
26,2024-04-11 11:17:33.573006,"{'location': {'name': 'Vancouver', 'region': '..."
27,2024-04-11 11:17:33.694065,"{'location': {'name': 'Vancouver', 'region': '..."
28,2024-04-11 11:17:33.787449,"{'location': {'name': 'Vancouver', 'region': '..."
29,2024-04-11 11:17:33.950773,"{'location': {'name': 'Vancouver', 'region': '..."

In [43]:
# year dictionnary to dataframe

weather_dict = pd.DataFrame(weather_dict)
weather_dict

,extracted_at,extracted_data
0,2024-04-11 14:13:08.092116,"{'location': {'name': 'Berlin', 'region': 'Ber..."
1,2024-04-11 14:13:08.197215,"{'location': {'name': 'Berlin', 'region': 'Ber..."
2,2024-04-11 14:13:08.369569,"{'location': {'name': 'Berlin', 'region': 'Ber..."
3,2024-04-11 14:13:08.484850,"{'location': {'name': 'Berlin', 'region': 'Ber..."
4,2024-04-11 14:13:08.584746,"{'location': {'name': 'Berlin', 'region': 'Ber..."
...,...,...
1825,2024-04-11 14:16:37.362432,"{'location': {'name': 'Vancouver', 'region': '..."
1826,2024-04-11 14:16:37.472337,"{'location': {'name': 'Vancouver', 'region': '..."
1827,2024-04-11 14:16:37.577198,"{'location': {'name': 'Vancouver', 'region': '..."
1828,2024-04-11 14:16:37.673093,"{'location': {'name': 'Vancouver', 'region': '..."
1829,2024-04-11 14:16:37.773490,"{'location': {'name': 'Vancouver', 'region': '..."

In [19]:
dtype_dict = {'extracted_at':types.DateTime, 'extracted_data':postgres_json}

In [44]:
# setting up the engine and connection to postgresl

from sqlalchemy import create_engine, types

url = f'postgresql://{username}:{password}@{host}:{port}/{database}'
engine = create_engine(url)

In [25]:
# 5 days dictionary to sql

weather_dict_s.to_sql('weather_raw', engine, if_exists='replace', dtype=dtype_dict)

30

In [36]:
# year dictionary to sql

weather_dict.to_sql('weather_raw_year', engine, if_exists='replace', dtype=dtype_dict)

830